/* 
.container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    }
    
    h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    }
    
    form {
    margin-top: 20px;
    }
    
    .form-input {
    margin-bottom: 20px;
    }
    
    input[type="text"], input[type="password"] {
    padding: 12px 20px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    }
    
    .btn-login {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    }
    
    .btn-login:hover {
    background-color: #444;
    }

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
} */
